div
    h4.recFont.text-center.mb-4 Our Latest Activities
    img(src="image/UniHack.jpg", alt="", class="acitivitesImage")
    h6.recFont.text-center.my-4 Uni Hack Challenge 3 Champion
    img(src="image/Wit.jpg", alt="", class="acitivitesImage")
    h6.recFont.text-center.my-4 Wit Web Design Award Winner