.firstSection   
    .circlePath
        img#Logo.Logo(src="/image/ninja-vis-logo.svg", alt="")
        h2#animatedText(class='align-middle text-white recFont') 
            | Ninja 
            span.text#vi Vi
            span.text#mis Mis
            span.text#sion sion
            span.text#service Service
        button.btn.btn-primary.btn-sm.rounded-pill.recFont 
            | See Works